body {
  color: #100000;
  background-color: #f0c0c0;
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
a 			{ color: #201010; text-decoration: none; }
a:link		{ color: white; text-decoration: none; }
a:visited	{ color: white; text-decoration: none; }
a:active	{ color: #80f0f0; background-color: #ffe0e0; text-decoration: none; text-shadow: 2px 2px 4px rgba(192,64,64,0.9); }
a:hover		{ color: #902020; background-color: #ffe0e0; text-decoration: underline; text-shadow: 2px 2px 4px rgba(192,64,64,0.9);}
.thumb a:link img { border: 1px solid #181010; }
.thumb a:visited img { border: 1px solid #181010; }
.thumb a:active img { border: 1px solid #f0c0c0;  }
.thumb a:hover img { border: 1px solid #f0c0c0;  }
.thumb td {
  margin: 0px;
  padding: 0px;
}
div.thumb {
  margin: 0px;
  padding: 0px;
}
h1
{
  z-index: 2;
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 3px 3px 5px rgba(0,0,0,0.9);
  margin: 0px;
  pointer-events: none;
}
h2 {
  z-index: 2;
  color: #fdf;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 3px 3px 5px rgba(32,0,32,0.9);
  margin: 0px;
  margin-top: 16px;
  padding: 0px;
  pointer-events: none;
}
h3 {
  z-index: 2;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 3px 3px 5px rgba(32,0,32,0.9);
  margin: 0px;
  margin-top: 16px;
  padding: 0px;
  pointer-events: none;
}
h4 {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: large;
}
img {
  border:0px;
  vertical-align:middle;
  margin: 0px;
  padding: 0px;
}
.body {
    font-family: monospace;
    background: #f0c0c0;
    color: white;
    margin: 0;
    padding: 0px;
}
.container {
    position: relative;
    width: 320px;
    height: 96px;
}
#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.overlay {
  position: absolute;
  top: 48px;
  left: 48px;
}
.menu {
    position: absolute;
    top: 96px;
    left: 72px;
    bottom: 8px;
    right: 8px;
    width: 640px;
    z-index: 2;
    color: white;
    line-height: 1.3;
    pointer-events: auto; /* リンククリック用 */
    letter-spacing: .1em;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 3px 3px 4px rgba(80,80,80.9);
}
